html {
    background: none !important;
}

body {
    background-image: url("./background.webp");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#general-view {
    padding: 1em;
}

.main {
    background-color: whitesmoke;
}

.content {
    white-space: pre-wrap;
}